h1{
    font-size: 80px;
    font: bold;
    font-style: oblique;
}
.separate{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
}
.separateLogin{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.btn{
    width:50px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid aqua;
    background-color: rgb(169, 255, 255);
}
.btn:hover{
    background-color: rgb(127, 189, 189);
    border: 3px solid aqua;
}
.btnLogin{
    border-radius: 50px;
    border: 3px solid aqua;
    background-color: rgb(169, 255, 255);
}
.btnLogin:hover{
    background-color: rgb(127, 189, 189);
    border: 3px solid aqua;
}
.alignStart{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}
.alignEnd{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.center{
    display: flex;
    justify-content: space-between;
}
.adjustText{
    padding-top: 8px;
}
.container{
    display: flex;
    justify-content: center;
}