<header>
    <div class="container">
        <h1>M<span>F</span>C</h1>        
    </div>
    <div class="center">
        <div class="alignStart">
            <img src="assets/images/argPrograma.png" width="50" height="40">
            <h4 class="adjustText" style="padding-left: 10px;">Argentina Programa - <span>#YoProgramo</span></h4>
        </div>
        <div>
            <div class="alignEnd">
                <h4 class="separate adjustText">Contacto:</h4>
                <div>
                    <button class="btn separate"><a href="https://twitter.com/maxi_callejas"><img src="assets/images/twLogo.png" width="20"></a></button>
                </div>
                <div>
                    <button class="btn separate"><a href="https://github.com/MaximoFC"><img src="assets/images/gitLogo.png" width="20"></a></button>
                </div>
                <div>
                    <button class="btn separate"><a href="mailto:maximofcallejas@gmail.com"><img src="assets/images/gmailLogo.png" width="20"></a></button>
                </div>
            </div>
        </div>
    </div>
</header>

