<footer align="center">
    <h1>Mis <span>redes sociales</span></h1>
    <div class="container">
        <div>
            <button class="btn separate"><a href="https://twitter.com/maxi_callejas"><img src="assets/images/twLogo.png" width="50"></a></button>
        </div>
        <div>
            <button class="btn separate"><a href="https://github.com/MaximoFC"><img src="assets/images/gitLogo.png" width="40"></a></button>
        </div>
        <div>
            <button class="btn separate"><a href="mailto:maximofcallejas@gmail.com"><img src="assets/images/gmailLogo.png" width="40"></a></button>
        </div>
    </div>
</footer>