.modalimg{
    width: 100%;
}
.modal1img{
    width: 90%;
}
.btn{
    border: 3px solid aqua;
    border-radius: 150px;
    background-color: rgb(169, 255, 255);
    color:black;
}
.btn:hover{
    background-color: rgb(127, 189, 189);
    border: 3px solid aqua;
}
.margin{
    padding-left: 50px;
}
.marginI{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}
.modal-content{
    background-image:linear-gradient(to left, rgb(192, 147, 166), rgb(0, 94, 117));
    width: 95%;
    display: flex;
    justify-content: center;
}
.modal-body{
    display: flex;
    justify-content: flex-start;
}

