<div class="margin">
    <h1><span>Educación:</span></h1>
</div>
<!-- Botones para modales -->
<div class="marginI">
    <button data-bs-target="#openmodal1" data-bs-toggle="modal" class="btn">
        Educación secundaria completa
    </button>
    <button data-bs-target="#openmodal2" data-bs-toggle="modal" class="btn">
        Formación jurídica
    </button>    
</div>
<div class="marginI">
    <button data-bs-target="#openmodal3" data-bs-toggle="modal" class="btn">
        Programación desde cero con Egg Educación
    </button>
    <button data-bs-target="#openmodal4" data-bs-toggle="modal" class="btn">
        Argentina Programa - #SéProgramar
    </button>
</div>
<!-- Modales -->
<div class="modal fade" id="openmodal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/tituloSecundario.jpg" class="modal1img">
            </div>
            <div class="modal-footer">
                <h4>Polimodal modalidad Economía y Gestión de las Organizaciones en el Colegio Tulio García Fernández.</h4>
                <h4>Fecha de inicio y finalización: 2015-2020.</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openmodal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/formaciónJurídica.png" class="modalimg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openmodal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/eggEducacion.png" class="modalimg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openmodal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/argPrograma1.png" class="modalimg">
            </div>
        </div>
    </div>
</div>

    
