body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, rgb(192, 147, 166), rgb(0, 113, 141));
}
h1 span{
    color: aqua;
}
h2 span{
    color:aqua;
}
h3 span{
    color:aqua;
}
h4 span{
    color:aqua;
}
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}